# - Indexing

In [1]:
# Make a string 
a = "Samosa Pakoda"
a

'Samosa Pakoda'

In [3]:
a[0]
a[1]

'a'

In [4]:
a[2]

'm'

In [5]:
# length of indexes
len(a)

13

In [6]:
a[0:6]

'Samosa'

In [7]:
a[0:13]

'Samosa Pakoda'

In [8]:
a[-1]

'a'

In [9]:
a[-6]

'P'

In [10]:
a[-1:-6]

''

In [11]:
a[-6:-1]

'Pakod'

In [16]:
a[-6:0]

''

In [17]:
food = "Biryani"
food

'Biryani'

String methods

In [18]:
len(food)

7

In [20]:
food.capitalize()

'Biryani'

In [21]:
food.upper()

'BIRYANI'

In [22]:
food.replace("B", "C")

'Ciryani'

In [24]:
# counting a specific alphabet in a string
name = "Hello_World"
name

'Hello_World'

In [27]:
name.count("o")

2

### - Finding an index number in tring

In [28]:
name = "How are you doing?"
name

'How are you doing?'

In [30]:
name.find("w")

2

In [33]:
### how to split a string
food = "I love samosa,pakoda,biryani and pizza"
food

'I love samosa,pakoda,biryani and pizza'

In [34]:
food.split(",")

['I love samosa', 'pakoda', 'biryani and pizza']

# Basic Data Structure in Python
1. Tuple
2. List
3. Dictionaries
4. Set

In [ ]:
## 1- Tuple
# Ordered Collection of elements
# enclosed in () round braces / parenthesis
# different kind of elements can be stored
# once elements are stored you cannot change them i.e UNMUTTABLE

In [36]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [37]:
# type of a tuple
type(tup1)

tuple

## - Indexing in TUPLE

In [41]:
tup1[0]

1

In [42]:
tup1[1]

'python'

In [44]:
tup1[0:3] #last element is exclusive

(1, 'python', True)

In [45]:
len(tup1) #count of elements in tuple

4

In [46]:
tup2 = (2, "Harry", 2.5, False)
tup2

(2, 'Harry', 2.5, False)

In [47]:
tup1 + tup2 #concatenate

(1, 'python', True, 2.5, 2, 'Harry', 2.5, False)

In [48]:
tup1*2 + tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'Harry', 2.5, False)

In [49]:
tup1*3 + tup2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'Harry',
 2.5,
 False)

In [50]:
tup3 = (20,30,60,79)
tup3

(20, 30, 60, 79)

In [51]:
# minimum
min(tup3)

20

# 2. LISTS
- Ordered collection of elements
- Enclosed in [ ] square braces
- Mutable i.e you can change the values

In [55]:
list1 = [2, "Hello", False]
list1

[2, 'Hello', False]

In [56]:
len(list1)

3

In [57]:
list2 = ["Ammar", "Codanics", 470, 52, False]
list2

['Ammar', 'Codanics', 470, 52, False]

In [59]:
list1+list2

[2, 'Hello', False, 'Ammar', 'Codanics', 470, 52, False]

In [62]:
list1.reverse()
list1

[False, 'Hello', 2]

In [63]:
list1.append("Codanics")
list1

[False, 'Hello', 2, 'Codanics']

In [64]:
#sorting a list
list3 = [10, 98, 35, 12, 65]
list3

[10, 98, 35, 12, 65]

In [66]:
list3.sort()
list3

[10, 12, 35, 65, 98]

## Dictionaries

- An unordered collection of elements
- Key and Value
- Curly braces or brackets {}
- Mutable

In [15]:
# Food and their prices
d1 = {"Apple":50, "Orange":30, "Salad":50, "Pineapple":100}
d1

{'Apple': 50, 'Orange': 30, 'Salad': 50, 'Pineapple': 100}

In [16]:
#extract data
keys1 = d1.keys()
keys1

dict_keys(['Apple', 'Orange', 'Salad', 'Pineapple'])

In [17]:
values1 = d1.values()
values1

dict_values([50, 30, 50, 100])

In [20]:
d1["Tikki"]=10 # Adding new element
d1

{'Apple': 50, 'Orange': 30, 'Salad': 50, 'Pineapple': 100, 'Tikki': 10}

In [21]:
# update the values
d1["Tikki"]=15
d1

{'Apple': 50, 'Orange': 30, 'Salad': 50, 'Pineapple': 100, 'Tikki': 15}

In [22]:
d2 = {"Dates":50, "Chocolate":100, "Peda":1000}
d2

{'Dates': 50, 'Chocolate': 100, 'Peda': 1000}

In [23]:
#concatenate
d1.update(d2)
d1

{'Apple': 50,
 'Orange': 30,
 'Salad': 50,
 'Pineapple': 100,
 'Tikki': 15,
 'Dates': 50,
 'Chocolate': 100,
 'Peda': 1000}

## 4 -set
- Unordered and unindexed
- curly braces are used {}
- No duplicates allowed
- No boolean True or False can be added

In [24]:
s1 = {1, 2.1, 5.2, "Amaar", "Codanics", "Nepal"}
s1

{1, 2.1, 5.2, 'Amaar', 'Codanics', 'Nepal'}

In [25]:
s1.add("Amaar1")
s1

{1, 2.1, 5.2, 'Amaar', 'Amaar1', 'Codanics', 'Nepal'}