# Numpy Practice Session

In [1]:
#import this library in jupter notebook
import numpy as np

# Creating an array using numpy

In [ ]:
pip install jedi

In [ ]:
pip install jedi==0.17.2

In [2]:
# 1-D array
food = np.array(["Pakora", "Samosa", "Raita"])
food

array(['Pakora', 'Samosa', 'Raita'], dtype='<U6')

In [3]:
price = np.array([5,5,5])
price

array([5, 5, 5])

In [4]:
type(price)

numpy.ndarray

In [5]:
len(food)

3

In [6]:
price[2]

5

In [7]:
price[0:]

array([5, 5, 5])

In [8]:
food[1]

'Samosa'

In [9]:
price.mean()

5.0

In [10]:
np.zeros(6)

array([0., 0., 0., 0., 0., 0.])

In [11]:
# ones
np.ones(5)

array([1., 1., 1., 1., 1.])

In [12]:
# empty
np.empty(5)

array([1., 1., 1., 1., 1.])

# Assignment 
- empty cells or 1 aaunu parnae np.ones and np.empty same output
- The function empty creates an array whose initial content is random and depends on the state of the memory.

- The reason to use empty over zeros (or something similar) is speed.
- The empty() function is used to create a new array of given shape and type, without initializing entries.
- NumPy empty produces arrays with arbitrary values.
- Empty function actually does fill the array with values. It's just that the values are completely arbitrary. The values are not quite “random” like the numbers you get from the np. random.

In [3]:
import numpy as np 
# range
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
# specify
np.arange(2,20)

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19])

In [5]:
# specific interval
np.arange(2,20,2)

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [10]:
# table of 5, used 55 as 50 rakhda exclusive hunxa ani 45 samma aauxa
np.arange(5,55,5)

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

In [14]:
# line   1 dekhi 100 samma ma 50 wota number ma duita ko difference same aauxa
np.linspace(1,100, num=50)

array([  1.        ,   3.02040816,   5.04081633,   7.06122449,
         9.08163265,  11.10204082,  13.12244898,  15.14285714,
        17.16326531,  19.18367347,  21.20408163,  23.2244898 ,
        25.24489796,  27.26530612,  29.28571429,  31.30612245,
        33.32653061,  35.34693878,  37.36734694,  39.3877551 ,
        41.40816327,  43.42857143,  45.44897959,  47.46938776,
        49.48979592,  51.51020408,  53.53061224,  55.55102041,
        57.57142857,  59.59183673,  61.6122449 ,  63.63265306,
        65.65306122,  67.67346939,  69.69387755,  71.71428571,
        73.73469388,  75.75510204,  77.7755102 ,  79.79591837,
        81.81632653,  83.83673469,  85.85714286,  87.87755102,
        89.89795918,  91.91836735,  93.93877551,  95.95918367,
        97.97959184, 100.        ])

In [15]:
# specify your data type
np.ones(5, dtype=np.int64)

array([1, 1, 1, 1, 1], dtype=int64)

In [16]:
np.ones(5, dtype=np.float64)

array([1., 1., 1., 1., 1.])

# Array functions

In [25]:
a = np.array([10,12,15,2,4,6,100,320,0.5,10.3])
a

array([ 10. ,  12. ,  15. ,   2. ,   4. ,   6. , 100. , 320. ,   0.5,
        10.3])

In [26]:
a.sort() #ascending order
a

array([  0.5,   2. ,   4. ,   6. ,  10. ,  10.3,  12. ,  15. , 100. ,
       320. ])

In [27]:
b = np.array([10.2,3.4,53.6,91.6,45.5])
b

array([10.2,  3.4, 53.6, 91.6, 45.5])

In [28]:
np.concatenate((a,b))

array([  0.5,   2. ,   4. ,   6. ,  10. ,  10.3,  12. ,  15. , 100. ,
       320. ,  10.2,   3.4,  53.6,  91.6,  45.5])

In [30]:
c = np.concatenate((a,b))
c

array([  0.5,   2. ,   4. ,   6. ,  10. ,  10.3,  12. ,  15. , 100. ,
       320. ,  10.2,   3.4,  53.6,  91.6,  45.5])

In [31]:
c.sort()
c

array([  0.5,   2. ,   3.4,   4. ,   6. ,  10. ,  10.2,  10.3,  12. ,
        15. ,  45.5,  53.6,  91.6, 100. , 320. ])

# 2-D Arrays

In [36]:
x = np.array([[1,2], [5,4]])
x

array([[1, 2],
       [5, 4]])

In [37]:
y = np.array([[6,7],[7,8]])
y

array([[6, 7],
       [7, 8]])

In [39]:
np.concatenate((x,y), axis=0) #same dimension add

array([[1, 2],
       [5, 4],
       [6, 7],
       [7, 8]])

In [40]:
np.concatenate((x,y), axis=1) #axis 1 ma horizontally

array([[1, 2, 6, 7],
       [5, 4, 7, 8]])

In [6]:
import numpy as np
a = np.array([[[0,1,2,3],
                        [4,5,6,7]], #2-D array
              
                      [[0,1,2,3],
                      [4,5,6,7]],
            
                      [[0,1,2,3],
                      [4,5,6,7]]])
a
# 3 times 2 dimensional array

array([[[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]],

       [[0, 1, 2, 3],
        [4, 5, 6, 7]]])

In [5]:
#to find the nuber of dimensions
a.ndim

3

In [9]:
type(a)

numpy.ndarray

In [7]:
b = np.array([[5,6,7],
             [8,9,10],
             [10,11,12]])
b

array([[ 5,  6,  7],
       [ 8,  9, 10],
       [10, 11, 12]])

In [8]:
b.ndim

2

In [10]:
# size (number of elements)
a.size

24

In [11]:
#shape 3 is array a size dimension, 2 is each dimension rows, 4 is each dimension colummn
a.shape

(3, 2, 4)

In [14]:
a = np.arange(9) #3*3
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [17]:
# reshape
b = a.reshape(3,3) #3*3=9
b

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [18]:
# reshape
np.reshape(a, newshape=(1,9), order='C') #C is column

array([[0, 1, 2, 3, 4, 5, 6, 7, 8]])

In [22]:
# Convert 1-D into 2-D
a = np.array([1,2,3,4,5,6,7,8,9])
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [23]:
a.shape

(9,)

In [25]:
b = a[np.newaxis, :] # rowwise 2-D conversion
b

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [26]:
b.shape #2-D array cause two [[]] array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

(1, 9)

In [27]:
c = a[: , np.newaxis] #columnwise 2-D
c

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [28]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [29]:
a[2:6]

array([3, 4, 5, 6])

In [30]:
a*6

array([ 6, 12, 18, 24, 30, 36, 42, 48, 54])

In [31]:
a+6

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15])

In [32]:
a.sum()

45

In [33]:
a.mean()

5.0